<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this request from being saved:</h2>
      <ul>
        <% question.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card">
    <div class="card-body">
      <div class="form-group">
        <%= form.label :question_category_id,:class=>'control-label' %>
        <%= form.select :question_category_id, options_from_collection_for_select(QuestionCategory.where(:enable=>true), 'id', 'title',@question_category_id),{},:class=>'form-select form-select-lg' %>
      </div>
      <div class="form-group">
        <%= form.label :program_language_id,:class=>'control-label' %>
        <%= form.select :program_language_id, options_from_collection_for_select(ProgramLanguage.where(:enable=>true), 'id', 'title',@program_language_id),{},:class=>'form-select form-select-lg' %>
      </div>
      <div class="form-group">
        <%= form.label :title %>
        <%= form.text_field :title, :class => 'form-control form-control-lg', :required => 'required' %>
      </div>
      <div class="form-group">
        <%= form.rich_text_area :content, style: 'min-height:20em' %>
      </div>
      <div class="form-group">
        <%= form.fields_for :question_picture  do |pp| %>
          <%= pp.label :picture %>
          <%= pp.file_field :picture, :class => "form-control-file" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="d-grid gap-2">
    <%= form.submit :class => "btn btn-primary btn-block btn-lg" %>
  </div>
<% end %>
