<div id="show-question">
  <div class="row">
    <article class="col-12 mb-3" itemscope itemprop="article" itemtype="http://schema.org/Article">
      <div class="sl_content_header">
        <h3 itemprop="name"><%= @question.title %></h3>
        <p class="text-end">
          <span><%= t(:user_id, scope: [:activerecord, :attributes, :blog]) %> : <%=display_user_photo(@question.user) %>&nbsp;&nbsp;<%= @question.user.name.truncate_bytes(16) %></span>
          <span style="margin-left:3rem"><%= t(:created_at, scope: [:activerecord, :attributes, :question]) %> : <%= I18n.l @question.created_at.to_date, :format => :long %></span>
        </p>
      </div>
      <div class="sl_content_main">
        <div class="sl_content_text" itemprop="text"><%=simple_format @question.content.to_s %></div>
        <div class="vote">
          <% if user_signed_in? %>
            <%= link_to like_question_path(@question), method: :put do %>
            <span class="material-icons
              <% if current_user.voted_for? @question %> already-vote
              <% end %>">thumb_up</span> <span class="text"><%= @question.cached_votes_up %></span>
            <% end %>
          <% else %>
            <%= link_to like_question_path(@question), { method: :put, :class => "confirm_login" } do %>
              <span class="material-icons">thumb_up</span> <span class="text"><%= @question.cached_votes_up %></span>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="answers">
        <% @answers.each do |answer| %>
        <div class="answer media">
          <%=simple_format answer.content.to_s %>
        </div>
        <% end %>
      </div>
    </article>
  </div>
  <div class="row">
    <div class="col-12">

    </div>
  </div>
  <div class="row">
    <div class="btn-group btn-group-lg col-12" role="group" style="margin-top:1rem">
      <%=link_to t(:link_list),questions_path,{class: 'btn btn-secondary btn-large btn-block'} %>
    </div>
  </div>
</div>
