<section class="blogs">
    <div class="row">
      <div class="col-12 section-header">
        <h2><%= t(:blog,scope: [:activerecord,:models]) %></h2>
          <%=link_to blogs_path,class: 'more-link' do %>
            <span><%=t(:more) %></span>
          <% end %>
      </div>
      <% unless @blog_count.zero? %>
        <% @blogs.each do |blog| %>
          <%=render 'blogs/index_media',blog: blog %>
        <% end %>
      <% else %>
        <div class="blog col-12">
          <%= t(:no_data) %>
        </div>
      <% end %>
    </div>
</section>