<div class="row">
  <div class="col-12">
    <div id="ad-main" class="table-responsive">
      <table class="table table-striped sl-table">
        <colgroup>
          <col>
          <col>
          <col>
          <col>
          <col style="width:100px">
          <col style="width:220px">
        </colgroup>
        <thead class="thead-default">
        <tr>
          <th><%= t(:user_id, scope: [:activerecord, :attributes, :blog]) %></th>
          <th><%= t(:blog_category_id, scope: [:activerecord, :attributes, :blog]) %></th>
          <th><%= t(:title, scope: [:activerecord, :attributes, :blog]) %></th>
          <th class="text-end"><%= t(:picture, scope: [:activerecord, :attributes, :blog_picture]) %></th>
          <th class="text-end"><%= t(:label_count) %></th>
          <th class="text-end"><%= t(:created_at, scope: [:activerecord, :attributes, :blog]) %></th>
        </tr>
        </thead>
        <tbody>
        <% unless @talk_count.zero? %>
          <% @talks.each do |talk| %>
            <tr>
              <td><%=display_user_photo(talk.user) %>&nbsp;&nbsp;<%= talk.user.name.truncate_bytes(16) %></td>
              <td></td>
              <td>
                <% if talk.comment_threads.count.zero? %>
                  <%= link_to talk.title, talk %>
                  <% else %>
                <%= link_to talk.title+'['+talk.comment_threads.count.to_s+']', talk %>
                  <% end  %>
              </td>
              <td class="text-end">
                <% if talk.talk_pictures_count.zero? %>
                  <%= image_tag 'none.gif',class: 'figure-img img-fluid rounded',width: 150,height:150  %>
                <% else %>
                  <%= image_tag talk.talk_pictures[0].picture.small_thumb.url,class: 'figure-img img-fluid rounded'  %>
                <% end %>
              </td>
              <td class="text-end"><%= talk.impressionist_count(:filter => :ip_address) %></td>
              <td class="text-end text-secondary"><%= time_ago_in_words talk.created_at.to_date %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="6"><%= t(:no_data) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <div id="sl_bottom_menu">
        <%= paginate @talks %>
      </div>
    </div>
  </div>
  <div class="col-12">
    <%=link_to t(:new_talk),new_talk_path,class: 'btn btn-primary btn-large' %>
  </div>
</div>