<section class="talks">
    <div class="row">
      <div class="col-12 section-header">
        <h2 class="float-left"><%= t(:talk,scope: [:activerecord,:models]) %></h2>
        <div class="float-right">
          <%=link_to talks_path,class: 'more-link' do %>
            <span><%=t(:more) %></span>
          <% end %>
        </div>
      </div>
      <% unless @talk_count.zero? %>
        <% @talks.each do |talk| %>
          <%=render 'talks/index_media',talk: talk %>
        <% end %>
      <% else %>
        <div class="talk col-12">
          <%= t(:no_data) %>
        </div>
      <% end %>
    </div>
</section>