<div id="show-question">
  <div class="row">
    <article class="col-12 mb-3" itemscope itemprop="article" itemtype="http://schema.org/Article">
      <div class="sl_content_header">
        <h3 itemprop="name"><%= @talk.title %></h3>
        <p class="text-end">
          <span><%= t(:user_id, scope: [:activerecord, :attributes, :blog]) %> : <%=display_user_photo(@talk.user) %>&nbsp;&nbsp;<%= @talk.user.name.truncate_bytes(16) %></span>
          <span style="margin-left:3rem"><%= t(:created_at, scope: [:activerecord, :attributes, :question]) %> : <%= I18n.l @talk.created_at.to_date, :format => :long %></span>
        </p>
      </div>
      <div class="sl_content_main">
        <div class="sl_content_text" itemprop="text"><%=simple_format sanitize(@talk.content.to_s.gsub(/\n/, '<br />'), :tags => %w(br img a)) %></div>
        <div class="vote">
          <% if user_signed_in? %>
            <%= link_to like_talk_path(@talk), method: :put do %>
            <span class="material-icons
              <% if current_user.voted_for? @talk %> already-vote
              <% end %>">thumb_up</span> <span class="text"><%= @talk.cached_votes_up %></span>
            <% end %>
          <% else %>
            <%= link_to like_talk_path(@talk), { method: :put, :class => "confirm_login" } do %>
              <span class="material-icons">thumb_up</span> <span class="text"><%= @talk.cached_votes_up %></span>
            <% end %>
          <% end %>
        </div>
      </div>
      <p>
        Tags: <%= raw @talk.tags.map { |t| link_to t, tag_path(:tag=>t.name) }.join(', ') %>
      </p>
    </article>
  </div>
  <script>
      function showHide(id) {
          var obj = document.getElementById(id);
          if (obj.style.display == 'none')
              obj.style.display = 'block';
          else
              obj.style.display = 'none';
      }
  </script>
  <div class="row">
    <div class="col-12">
      <%= render partial: "comments/templete", locals: {commentable: @talk, new_comment: @comment} %>
    </div>
  </div>
  <div class="row">
    <div class="btn-group btn-group-lg col-12" role="group" style="margin-top:3rem">
      <%=link_to t(:link_list),talks_path,{class: 'btn btn-secondary btn-large btn-block'} %>
    </div>
  </div>
</div>
