<main id="main-page">
  <%= render :partial => 'blogs/index' %>
  <%= render :partial => 'questions/index' %>
  <%= render :partial => 'talks/index' %>
  <%= render :partial => 'galleries/index' %>
</main>
<% content_for :json_ld do %>
  <script type="application/ld+json">
    <%= raw(JSON.pretty_generate(json_ld_tag())) %>
  </script>
<% end %>