<% breadcrumb :blogs %>
<section id="sl_blog_index">
  <section id="sl_blog" <% unless @talks.empty? %>itemscope itemprop="blogPosts" itemtype="http://schema.org/Blog"<% end %>>
  <% unless @talks.empty? %>
  <% @talks.each do |blog| %>
  <article class="media p-3 rounded" itemscope itemprop="blogPost" itemtype="http://schema.org/Blog">
    <%=link_to talk_path(blog), class: "pull-left",rel: "nofollow" do %>

    <% end %>
    <div class="media-body">
      <h3 class="media-heading" itemprop="name"><%=link_to blog.title,talk_path(blog) %></h3>
    </div>
  </article>
  <% end %>
	<% else %>
  <div>
  	<p><%=t(:no_data) %></p>
  </div>
  <% end %>
  <div id="sl_bottom_menu">
  <% if can? :create, Talk %>
  <%= link_to t(:link_new), new_talk_path,:rel=>"nofollow",:class=>"btn btn-default" %>
  <% end %>
  <%= paginate @talks %>
  </div>
	</section>
</section>
