<aside class="col-12 col-xxl-4 mb-3">
    <% if user_signed_in? %>
    <div class="card h-100">
      <div class="card-body">
        <%= link_to mypage_path do %>
          <%=display_user_photo(current_user) %>
          <span style="color:#0CF"><%= current_user.name.truncate_bytes(16) %></span> 님
        <% end %>

        <%= link_to destroy_user_session_path, {id:"p_logout",class: "float-end",method: :delete} do %>
          <i class="material-icons">highlight_off</i><span><%= t(:logout) %></span>
        <% end %>

        </div>
        </div>
      <% else %>
    <div data-controller="login">
      <%=render 'users/sns' %>
    <div style="border-top:none"  data-login-target="noSnsIdParent">
      <%=link_to 'SNS계정 없음','#',{class:'text-end d-block', data: {'login-target'=>"noSnsId", action: "click->login#toggle"}} %>
    </div>
    <div class="d-none" data-login-target="noSnsLogin">

      <% resource = User.new %>
      <% resource_name = :user %>
      <% devise_mapping = Devise.mappings[:user] %>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-horizontal" }) do |f| %>
        <div class="card">
          <div class="card-body" style="padding-bottom: 0;">
            <div class="form-group row">
              <div class="col-12">
                <%= f.email_field :email, :autofocus => true, :class => "form-control form-control-lg", :required => "required", :placeholder => t(:login_p_email) %>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <%= f.password_field :password, :class => "form-control form-control-lg", :required => "required", :placeholder => t(:login_p_password) %>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
              </div>
            </div>

          </div>
        </div>

        <div class="d-grid gap-2">
          <%= f.submit t(:login),:class => "btn btn-primary btn-block btn-lg" %>
        </div>
      <% end %>


        <%= link_to new_user_registration_path do %>
          <i class="material-icons">person_add</i><span><%= t(:new_user)%></span>
        <% end %>
      </div>
    </div>
    <% end %>
</aside>