<%
  ad1_active=false
  ad2_active=false
  ad3_active=false

  @speciality_category

  if params[:controller] == 'ads'
    if @speciality_category.present?
      case @speciality_category.id
        when 1
          ad1_active=true
        when 2
          ad2_active=true
        when 3
          ad3_active=true
      end
    end
  end
%>
<header>
    <div id="top-menu">
    <% unless current_page?(root_path) %>
    <div id="mobile-back">
      <%=link_to 'javascript:history.go(-1);' do %>
      <span class="material-icons" class="d-block d-lg-none">keyboard_arrow_left</span>
        <% end %>
    </div>
    <% end %>
    <div id="mobile-menu-back">&nbsp;</div>
    <div id="mobile-menu" class="d-block d-lg-none">
      <%=link_to '' do %>
      <span class="material-icons">menu</span>
      <% end %>
    </div>

    <div id="top-user-menu">
      <%=link_to '',id: 'mobile-menu-close',class: 'd-block d-lg-none' do %>
        <span class="material-icons">cancel</span>
        <% end %>
      <ul>
        <% if user_signed_in? %>
          <li id="user-info">
            <%= link_to mypage_path do %>
              <%=display_user_photo(current_user) %>
              <span style="color:#0CF"><%= current_user.name.truncate_bytes(16) %></span> 님
            <% end %>
          </li>
          <li>
            <%= link_to new_user_point_log_path do %>
              <i class="material-icons">control_point_duplicate</i><span><%= t(:charge) %></span>
            <% end %>
          </li>
          <li>
            <%= link_to new_ad_path(category: params[:category]) do %>
              <i class="material-icons">add</i><span><%= t(:new_ad) %></span>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, :id => "p_logout" do %>
              <i class="material-icons">highlight_off</i><span><%= t(:logout) %></span>
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to new_user_session_path do %>
              <i class="material-icons">login</i><span><%= t(:login) %></span>
            <% end %>
          </li>
          <li>
            <%= link_to new_user_registration_path do %>
              <i class="material-icons">person_add</i><span><%= t(:new_user)%></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-xxl-3">
        <h1><%=link_to t(:service_name),'/' %></h1>
      </div>
      <div class="col-12 col-xxl-9">
        <nav>
          <ul class="nav">
            <li class="sl-dropdown<% if ['questions'].include? params[:controller] %> active<% end %>">
              <%= link_to questions_path,class:'main-menu' do %>
                <%= t(:question,scope:[:activerecord,:models]) %>
              <% end %>
              <ul class="sl-dropdown-menu">
                <li<% if ['questions'].include? params[:controller] %> class="active"<% end %>><%= link_to t(:question,scope:[:activerecord,:models]), questions_path %></li>
              </ul>
            </li>
            <li class="sl-dropdown<% if ['markets'].include? params[:controller] %> active<% end %>">
              <%= link_to markets_path,class:'main-menu' do %>
                <%= t(:market,scope:[:activerecord,:models]) %>
              <% end %>
            </li>
            <li class="sl-dropdown<% if ['jobs'].include? params[:controller] %> active<% end %>">
              <%= link_to jobs_path,class:'main-menu' do %>
                <%= t(:job,scope:[:activerecord,:models]) %>
              <% end %>
            </li>
            <li class="sl-dropdown<% if ['blogs'].include? params[:controller] %> active<% end %>">
              <%= link_to blogs_path,class:'main-menu' do %>
                <%= t(:blog,scope:[:activerecord,:models]) %>
              <% end %>
              <ul class="sl-dropdown-menu">
                <li<% if ['blogs'].include? params[:controller] %> class="active"<% end %>><%= link_to t(:blog,scope:[:activerecord,:models]), blogs_path %></li>
              </ul>
            </li>
            <li class="sl-dropdown<% if ['notices'].include? params[:controller] %> active<% end %>">
              <%= link_to notices_path,class:'main-menu' do %>
                <%= t(:menu_community) %>
              <% end %>
              <ul class="sl-dropdown-menu">
                <li<% if ['notices'].include? params[:controller] %> class="active"<% end %>><%= link_to t(:notice,scope:[:activerecord,:models]), notices_path %></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>